table{
    width: 100%;
    border: initial;


}
th{
    color: red;
    background-color:black;
    font-size: 110%


}
td{
    background-color: bisque;
}
h1{
    text-align: center;
}
p{
    text-align: right;
    color:green
}

